body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #222;
  color: #fff;
  height: 100vh;
  margin: 0;
}

canvas {
  background: #000;
  border: 2px solid #555;
}
